@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}
img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.titulo{
    color: #b07dfb
}
.title-titulo{
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
}
.span-titulo{
    font-size: .875rem;
    font-style: italic;
}
.main-paragraph{
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, 0.7);
}
.destaque{
    color: #b07dfb;
    font-size: .875rem;
    max-width: 16rem;
}
.citacao, .atributos{
    align-self: flex-start;
    padding: 1.875rem;
    border-radius: 5px;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}
.citacao > p{
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
}
.p2{
    margin-top: 1.875rem;
}
.atributos > li{
    color: white;
    font-size: 1.125rem;
    padding: 15px;
    font-family: Courier, monospace;
}
.atributos > li:not(:first-child){
    border-top: 2px solid #b07dfb;;
}
.p-footer{
    text-align: center;
    color: white;
    padding: 1.875rem;
}
.estrutura{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row: 1fr auto;
    grid-template-areas: 
    "header header header"
    "side-nav content anuncios"
    "footer footer footer";
}
header{
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 2.25rem 1.9rem;
    color: #ffffff;
    grid-area: header;
}
header > img{
    width: 200px;
}
.nav-menu-header{
    display: flex;
    gap: 1.85rem;
}
.button-nav{
    padding: .625rem;
    font-size: 1.125rem;
    border-radius: 5px;
    background-color: rgb(149, 99, 222);
}
.button-nav:hover{
    transition: .1s;
    background-color: rgb(133, 00, 217);
}
.side-nav{
    background-color: #fafbfc;
    grid-area: side-nav;
}
.ul-side-nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.875rem;
}
.ul-side-nav > li > a{
    padding: 1.25rem;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    min-width: 60px;
    max-width: 120px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}
.img-side-nav{
    width: 100%;
}
main{
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
    padding: 1.875rem;
    max-width: 900px;
}
.caracteristicas{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.caracteristicas > div{
    width: 80px;
    text-align: center;
    border-radius: 5px;
    color: #b07dfb;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}
.numero{
    display: block;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    font-size: 3rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.rotulo{
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}
.col-wide{
    grid-column: 1/-1;
}
.wolf-1{
    grid-row: span 2;
    align-self: end;
}
[class^=wolf]{
    align-self: flex-end;
}
.noticias{
    display: grid;
    grid-area: anuncios;
    gap: 2rem;
    padding: 1.875rem;
    align-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background: #fafbfc;
    width: 100%;
}
.anuncio-item{
    width: 240px;
}
footer{
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}
@media (max-width: 1200px){
    .estrutura{
        grid-template-areas: 
        "header header header"
        "side-nav content content"
        "side-nav anuncios anuncios"
        "footer footer footer";
    }
    .anuncio-item{
        width: 100%;
    }
}
@media (max-width: 760px){
    header{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .nav-menu-header{
        gap: .7rem;
    }
    .button-nav{
        background-color: rgb(133, 77, 217);
        font-size: inherit;
    }
    .estrutura{
        grid-template-areas: 
        "header header header"
        "side-nav side-nav side-nav"
        "content content content"
        "anuncios anuncios anuncios"
        "footer footer footer";
    }
    .ul-side-nav{
        flex-direction: row;
        overflow: auto;
    }
    .ul-side-nav > li > a{
        width: 105px;
    }
}
@media (max-width: 600px){
    main{
        grid-template-columns: auto;
    }
}